<!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="bilder/pokeball2.png"/>

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">



    <!-- Koppla in Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="css/style.css">

    <!-- Koppla in och JQuery Bootstrap javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>


    <!-- Koppla in egen JavaScript-fil funktion.js OBS! Ha den som sista js-fil -->
    <script type="text/javascript" src="js/funktion.js"></script>

    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
    <title>Spelwebben</title>
</head>

<!-- I body finns allt innehåll på hemsidan -->
<body ng-app="app">

    <!-- I nav finns alla länkar eller knappar för navigering, tex en menyrad -->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Spelwebben</a>
            <ul class="nav navbar-nav">
                <li><a href="menyval1.html">Nya spel</a></li>
                <li><a href="menyval2.html">Recensioner</a></li>
                <li><a href="menyval3.html">Spelhemsidor</a></li>
            </ul>
        </div>
    </nav>

    <h2>Välkommen till Spelwebben, hemsidan som handlar om spel!
        Här kan du läsa allt om nya spel, se på trailers, gameplay och recensioner.</h2>

        <img height="400px" width="650px" src="bilder/ps4.png">
        <img src="bilder/nes.png">


        <main> <!-- The main content on the page -->
            <div class="main-content container" ng-controller="KommentarCtrl">
                <div class="content-container">
                    <h2>Kommentarsfält (Ge gärna feedback!)</h2>
                    <div ng-repeat="kommentar in kommentarer">
                        <p><b>{{ kommentar.skribent }}</b> {{ kommentar.text }}</p>
                    </div>
                </div>
                <div class="content-container" style="margin-top: 100px; width: 50%">
                    <h3>Kommentera</h3>
                    <form ng-submit="addComment()">
                        <div class="form-group">
                            <input placeholder="Ditt namn" type="text" id="skribent" class="form-control" ng-model="kommentar.skribent">
                        </div>
                        <div class="form-group">
                            <input placeholder="Din kommentar" type="text" id="text" class="form-control" ng-model="kommentar.text">
                        </div>
                        <button type="submit" class="btn btn-success">Kommentera</button>
                    </form>
                </div>
            </div>
        </main>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <pre><code></code></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
    </html>
